.search-container{
    display: flex;
    justify-content: space-between;
}
.search{
    border: none;
    background: transparent;
    color: white;
}
.list-icon{
    color: white;
}
.list-filter{
    color: white;

}